{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ header.site_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'web_panel/css/base.css' %}">
</head>
<body>
    <header>
        {% block header %}{% endblock %}
        <nav>
            {% for link in header.menu %}
                <a href="{% url link.url_name %}">{{ link.label }}</a>{% if not forloop.last %} | {% endif %}
            {% endfor %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>{{ footer.copyright }}</p>
    </footer>
</body>
</html>