{% extends 'base.html' %}

{% block content %}
    <h2>{{ body.title }}</h2>
    <div style="display: flex; flex-wrap: wrap;">
        {% for item in body.items %}
            <div class="card">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <p>Ціна: <strong>{{ item.price_sonechka }}</strong> сонечок</p>
                <form action="{% url 'add_to_cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="reward_id" value="{{ item.id }}">
                    <button type="submit">Купити</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}